@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GroupFile.Models.GroupFileModel>

<h3>Group File</h3>
<ul>
    @foreach (var group in Model)
    {
        <li>
            Group @group.Group
            <ul>
                @foreach (var file in group.Files)
                {
                    <li>@file.FullPath</li>
                }
            </ul>
        </li>
    }
</ul>