@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GroupFile.Models.GroupFileModel>

<h3>Group File</h3>
<ul>
    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        <li>
            @if (item.i == Model.Count - 1)
            {
                <span>Cannot Grouped</span>
            }
            else
            {
                <span>Group @item.value.Group</span>
            }
            <ul>
                @foreach (var file in item.value.Files)
                {
                    <li>@file.FullPath</li>
                }
            </ul>
        </li>
    }
</ul>