@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GroupFile.Models.FileModel>

<h3>List File</h3>
<ul>
    @foreach (var file in Model)
    {
        <li>
            @file.FullPath
            <ul>
                <li>@file.SpliFileName.prefix</li>
                <li>@file.SpliFileName.suffix</li>
            </ul>
        </li>
    }
</ul>


<h3>Group File</h3>


